@font-face {
  font-family: 'Digital Dismay';
  src: url('assets/DigitalDismay-VAKw.ttf');
}

.Watch {
  &__meta {
    font-size: 10px;
    background-color: hsla(0, 0%, 0%, 0.16);
  }

  &__status-icon {
    width: 100px;

    &[data-state='blinking'],
    &[data-state='onRunning'] {
      animation: blink 0.6s infinite alternate;
    }
  }

  &__display {
    font-family: 'Digital Dismay', sans-serif;
    font-size: 65px;

    &-seconds {
      font-size: 40px;
      margin: 15px;
    }
  }
}

@keyframes blink {
  0%,
  45.8333333% {
    opacity: 0;
  }

  54.1666666% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
